
<table class="buildProcessResult">
    <tr>
        <td>
            <h1>{{machine.ConfigurationName}} #{{rev}}</h1>
            <br>
            <h2>Config: {{machine.Configuration}}, GPU: {{machine.DirectHardwareAccess|yesno}}</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2>
                <br>
                <span class="failure">
                    The requested build process result is not available! Please check again later.
                </span>
            </h2>
        </td>
    </tr>
</table>
