<!--html-->
<!--link rel=stylesheet type=text/css href="static/style.css"-->
<!--body-->

{% macro machineOSClass(id) -%}
    {% if id == machineID %}
    class="machineOSHighlight"
    {% else %}
    class="machineOS"
    {% endif %}
{%- endmacro %}

{% macro machineClass(id) -%}
    {% if id == machineID %}
    class="machineHighlight"
    {% else %}
    class="machine"
    {% endif %}
{%- endmacro %}

{% macro resultImage(success) -%}
    {% if success == 1 %}
    <img alt="Y" src="{{root}}{{url_for('static', filename='success.png')}}"/>
    {% elif success == 0 %}
    <img alt="N" src="{{root}}{{url_for('static', filename='failure.png')}}"/>
    {% else %}
    <img alt="?" src="{{root}}{{url_for('static', filename='unknown.png')}}"/>
    {% endif %}
{%- endmacro %}

<table style="width: 100%;" border="0" cellpadding="2" cellspacing="0">
    <tr>
        <td colspan="2"><h1>Build Machines<br>Revision: {{ rev }}</h1></td>
        <td style="text-align: center; vertical-align: bottom;">S<br>
            V<br>
            N</td>
        <td style="text-align: center; vertical-align: bottom;">C<br>
            M<br>
            A<br>
            K<br>
            E</td>
        <td style="text-align: center; vertical-align: bottom;">B<br>
            U<br>
            I<br>
            L<br>
            D</td>
        <td style="text-align: center; vertical-align: bottom;">T<br>
            E<br>
            S<br>
            T</td>
    </tr>
    {% for entry in machines %}
    <tr>
        <td {{machineOSClass(entry.BuildMachine.id)}} rowspan="2"><img src="{{root}}{{url_for('static', filename=entry.icon)}}"/></td>
        <td {{machineClass(entry.BuildMachine.id)}}><a href="{{root}}/{{ entry.BuildMachine.id }}/{{rev}}">{{entry.BuildMachine.ConfigurationName}}</a></td>
        <td rowspan="2" class="stepResultAlt">{{resultImage(entry.BuildProcessResult.SVNResult)}}</td>
        <td rowspan="2" class="stepResult">{{resultImage(entry.BuildProcessResult.CMakeResult)}}</td>
        <td rowspan="2" class="stepResultAlt">{{resultImage(entry.BuildProcessResult.BuildResult)}}</td>
        <td rowspan="2" class="stepResult">{{resultImage(entry.BuildProcessResult.TestResult)}}</td>
    </tr>
    <tr>
        <td class=machineDetails>C: {{entry.BuildMachine.Configuration}}, GPU: {{entry.BuildMachine.DirectHardwareAccess|yesno}}</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6">
            <br>
            <h1>SVN Commit</h1>
            <colspan class="blue">Author:</colspan> {{revInfo.Author}}<br>
            <colspan class="blue">Commit Date:</colspan> {{revInfo.Date|linuxTime}}<br>
            <colspan class="blue">Commit Message:</colspan><br>{{revInfo.Message|nl2br|safe}}<br><br>
            <colspan class="blue">Changed Files:</colspan><br>
            <colspan class="revisionInfoChangedFiles">{{revInfo.ChangedPaths|nl2br|safe}}</colspan><br>
        </td>
    </tr>
</table>

<!--/body-->
<!--html-->
