BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
TabWidth: 2
AccessModifierOffset: -2
PointerAlignment: Left
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: true
MaxEmptyLinesToKeep: 3
#IndentPPDirectives: PPDIS_AfterHash