BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
BreakBeforeBraces: Allman
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
TabWidth: 2
AccessModifierOffset: -2
PointerAlignment: Left
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Inline
MaxEmptyLinesToKeep: 3
IndentPPDirectives: AfterHash
NamespaceIndentation: All
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: true
MacroBlockBegin: "^EZ_BEGIN_.*|BEGIN_SUBSYSTEM_DEPENDENCIES$"
MacroBlockEnd: "^EZ_END_.*|END_SUBSYSTEM_DEPENDENCIES$"