# ezEngine GDB initialization file
# For automatic loading, add this line to your ~/.lldbinit file:
# settings set target.load-cwd-lldbinit true
command script import ./Code/Engine/Foundation/ezEngine.py