<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenXR.Loader" version="1.0.10.2" targetFramework="native" />
  <package id="OpenXR.Headers" version="1.0.10.2" targetFramework="native" />
  <package id="Microsoft.Holographic.Remoting.OpenXr" version="2.4.0" targetFramework="native" />
</packages>