#pragma once
#line 2 "Shaders/Materials/MaterialConstants.template"
// This file is used to generate the material constants struct by the shader compiler in Code/Engine/RendererCore/ShaderCompiler/Implementation/ShaderCompiler.cpp.
#include <Shaders/Common/ConstantBufferMacros.h>
#include <Shaders/Common/Platforms.h>

#define HAS_MATERIAL_CONSTANTS

BEGIN_MATERIAL_CONSTANTS
{
#line {0}
{1}
}
END_MATERIAL_CONSTANTS
